@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    padding:none;
    margin:none;
    box-sizing:border-box;
}

/*------------ Início style formulário ------------ */

body {
    background-image: url(../images/background\ faça\ login.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #D44A00;
    height:100vh;
    display: flex;
    justify-content: center;
    font-family: 'Tilt Neon', cursive;   
}
.container {    
    max-width:1050px;
    display: flex;
    justify-content: center;    
    flex-direction: column;
    text-align: center;
}
.container__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:50px;
    align-items: center;        
}
.container__img {
    width:450px;
    height:450px;
}
.container__img img {
    width:100%;
    height:100%;
}
.container__title {    
    font-size: 35px;
    color:#fff;
    text-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.container__form {
    width:350px;
    height:auto;
    background-color: #A13800;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container__form form {
    display: flex;
    flex-direction: column; 
       
}
.container__input, textarea {
    padding:10px;
    margin:7px 0;
    border-radius:5px;
    border:2px solid #D44A00;
    background-color: #D44A00;
    color:#fff;
    font-size: 16px;
    transition: 0.3s;
    outline:none;
}
textarea {
    width:100%;
    height:90px;
    resize:none;
}
.container__input:focus, textarea:focus {
    border-color:#fc8e52;   
}
.container__input::placeholder, textarea::placeholder {
    color:#fc8e52;
    font-size: 14px;
}

.container__spanSexo, .container__spanExp {
    color:#fff;
    font-size:20px; 
    text-align: left;   
}
.span__required {
    font-size: 13px;
    color:#ffc74e;
    margin-bottom:7px;
    display: none;
}
.container__sexo, .container__experience {
    display: flex;   
    gap:20px;
    margin:10px 0;
}
.container__formName, .container__formEmail,
.container__formPassword, .container__formPasswordConf {
    display: flex;
    text-align: left;
    flex-direction: column;
}
label {
    font-size: 17px;;
    color:#fff;
}
.btn {
    padding:10px;
    border-radius:5px;
    cursor: pointer;
    background-color: #fff;
    border:none;
    margin:10px;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.3s;
}
.btn:hover {
    background-color: #D44A00;
    color:#fff;
}

/*------------ Final style formulário ------------ */



/*------------ Responsividade ------------ */

@media screen and (max-width:995px) {
    .container__content {
        display: flex;
        justify-content:center;        
        align-items: center; 
        width:100%;
        height:100%; 
        margin-bottom:30px;  
    }
    
    
}
@media screen and (max-width:570px) {
    
    .container__img {
        width:250px;
        height:250px;
        padding:30px;
    }
    .container__form {
        width:270px;
        height:auto;
        background-color: #A13800;
        padding:20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* gap:10px; */
    }
    .container__sexo, .container__experience {
        flex-direction: column;
        text-align: left;        
    }
    
}